@import url('https://fonts.googleapis.com/css?family=Montserrat:200,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.title {
  opacity: 0;
  font-size: 4rem;
  font-weight: 700;
  transform: scale(10);
}

.description {
  opacity: 0;
  transform: translate(-300px, 100px);
  font-size: 1.5rem;
  font-weight: 200;
}