@import url('https://fonts.googleapis.com/css?family=Montserrat:200,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.animation {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.about {
  padding-top: 50vh;
  height: 20vh;
  width: 100vw;
  position: fixed;
  top: 1;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

/* .background {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
} */

.education {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

.education > .item {
  opacity: 0;
}

.title {
  opacity: 0;
  font-size: 4rem;
  font-weight: 700;
  transform: scale(10);
}

.education > .title {
  transform: translateY(-100px) scale(0.8);
}

.profile {
  height: 50%;
  opacity: 0;
  transform: translateX(200px);
  border-radius: 25px;
}

.description {
  opacity: 0;
  font-size: 1.5rem;
  font-weight: 200;
}