* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animation-trigger {
  height: 180vh;
}

.animation {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  overflow: hidden;
}

.background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;

  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title {
  opacity: 0;
  font-size: 4rem;
  font-weight: 700;
  transform: scale(10);
}

.profile {
  height: 50%;
  opacity: 0;
  transform: translateX(200px);
  border-radius: 25px;
}
